@model IEnumerable<ProjectChubb.Models.Persona>

@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Mantenimiento de clientes</h1>
<div class="container">
    @if (TempData["mensaje"] != null) { 
    
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" date-dismiss="alert" arial-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
    }

    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-success d-block" asp-action="CreatePerson" asp-controller="Persona">Crear Cliente</a>

        </div>
    </div>

    <div class="row">
        @if (Model.Count() > 0)
        {

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td @Html.DisplayNameFor(m => m.IdPersona)><h4>ID</h4></td>
                        <td @Html.DisplayNameFor(m => m.NombrePersona)><h4>Nombres</h4></td>
                        <td @Html.DisplayNameFor(m => m.ApellidoPersona)><h4>Apellidos</h4></td>
                        <td @Html.DisplayNameFor(m => m.CedulaPersona)><h4>Cedula</h4></td>
                        <td @Html.DisplayNameFor(m => m.TelefonoPersona)><h4>Telefono</h4></td>
                        <td @Html.DisplayNameFor(m => m.EstadoPersona)><h4>Estado</h4></td>
                        <td>Acciones</td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdPersona</td>
                            <td>@item.NombrePersona</td>
                            <td>@item.ApellidoPersona</td>
                            <td>@item.CedulaPersona</td>
                            <td>@item.TelefonoPersona</td>
                            <td>@item.EstadoPersona</td>
                            <td>
                                <a asp-controller="Persona"  asp-action="EditPerson" asp-route-id="@item.IdPersona" class="btn btn-warning">Editar</a>
                                <a asp-controller="Persona" asp-action="DeletePerson" asp-route-id="@item.IdPersona" class="btn btn-danger">Eliminar</a>
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        }
            else
            {
                <p>No existen registros</p>
            }

    </div>


</div>